<form #f="ngForm">
   
    <label>title</label>
    <input type="text" name="title" [(ngModel)]="p.title" required minlength="3" #t="ngModel">
    <span *ngIf="t.invalid && t.touched">
<span *ngIf="t.errors?.['required']">
required
</span>

    <span *ngIf="t.errors?.['minlength']">
        minlength
    </span>
    </span>
    <label>price</label>
    <input type="number" name="price" [(ngModel)]="p.price">
    <label>quantity</label>
    <input type="number" name="quantity" [(ngModel)]="p.quantity">
    <label>like</label>
    <input type="number" name="like" [(ngModel)]="p.like" >
<input type="submit" value="save" (click)="addProduct(f.value)" >

</form>
